<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="/public/img/logo_fb.png" />
    <title>Facebook</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../css/home_style.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
  </head>
  <body>
    <div class="container">
      <!--THANH NAVIGATOR-->
        <nav>
        <div class="nav-left">
            <div class="fb-logo"><a href="fb_home.html"><img src="/public/img/fb_logo.png"/></a></div>
            <div class="search-bar"> <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Tìm kiếm trên Facebook"/>
            </div>
        </div>
        <div class="nav-center">
            <a href="fb_home.html"> <i class="fa-solid fa-house"></i> </a>
            <a href="fb_friendTab.html"> <i class="fa-solid fa-users"></i></a> 
            <i class="fa-solid fa-tv"></i>
            <i class="fa-solid fa-shop"></i>
            <i class="fa-solid fa-users-line"></i>
        </div>
        
        <div class="nav-right">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-message" id="messengerButton"></i>
            <i class="fa-solid fa-bell" onclick="openNotifications()" ></i>
          <!-- Drop down Thong bao-->
            <div class="card-noti" id="notificationWarp">

                  <h4 style="margin-bottom: 10px;">Notifications</h4>
                  <hr>
                  
                  <!--Danh sách thông báo-->
              <div class="noti-container"> 
                <!--Item thông báo-->
                <div class="noti-items">
                  <img src="../../../public/img/fb_logo.png">
                  <div class="noti-detail">
                      <h3>Bài viết của bạn đã nhận được một cảm xúc mới!</h3>
                      <p>2024-06-07 03:27:14</p>
                  </div>
                </div>


              </div>
            </div>

            <!-- Drop down profile menu-->
            <img id="avarta" onclick="openCard()">
            <div class="card-menu-warp" id="cardWarp">
              <div class="card-menu">
                <a href="fb_identity.html" class="profile-menu">
                    <img id="avarta"/>
                    <p id="nameID">Huy Hồ</p>
                </a>
                <a href="fb.settingIF.html" class="card-menu-items">
                  <i class="fa-solid fa-gear"></i>
                  <p>Setting</p>
                  <span>></span>
                </a>

                <a href="#" class="card-menu-items">
                  <i class="fa-solid fa-flag"></i>
                  <p>Page</p>
                  <span>></span>
                </a>

                <a href="#" class="card-menu-items">
                  <i class="fa-solid fa-envelope"></i>
                  <p>Support</p>
                  <span>></span>
                </a>

                <a href="#" class="card-menu-items" id="logoutButton">
                  <i class="fa-solid fa-right-to-bracket"></i>
                  <p>Log out</p>
                  <span>></span>
                </a>
              </div>
            </div>  
        
          </div>
        </nav>

      <!--GIAO DIỆN HIỆN THỊ CHÍNH-->
    <div class="main">
          <!--THANH SECTION BÊN TRÁI-->
          <div class="main-left">
              <div class="img">
                <img id="avarta">
                <p id="nameID">Huy Hồ</p>
              </div>

              <div class="img">
                <img src="/public/img/friendshorcut_icon.png">
                <p>Friend</p>
              </div>

              <div class="img">
                <img src="/public/img/videoshorcut_icon.png">
                <p>Video</p>
              </div>

              <hr>

              <h2>Games</h2>

              <a href="/src/games/CollectAll/NoMoreTrash.html" class="img">
                <img src="/public/img/gam1.png">
                <p>Trash Fall</p>
              </a>
             
              <a href="/src/games/Insaniaquarium/Insaniquarium.html" class="img">
                <img src="/public/img/gam2.png">
                <p>Insaniaquarium</p>
              </a>

              <a href="/src/games/DDRR/ddrrr.html" class="img">
                <img src="/public/img/gam3.png">
                <p>No more trash</p>
              </a>
          </div>
           <!--PHẦN HIỆN THỊ CHÍNH STORY/POST-->
            <div class="main-center">
               <!--MỤC STORY-->
              <div class="top-box">
                  <!--MỤC UPLOAD STORY CỦA BẢN THÂN-->
                <div class="my-story">
                  <a href="fb_createStory.html">
                    <img id="avarta" alt="">
                    <div class="upload">
                      <img src="/public/img/uploadstory_icon.png"> 
                    </div>
                  </a>
                </div>
              <div id="story-for-me" class="top-boxs"></div>

                  <!--MỤC STORY CỦA BẠN BÈ (LOAD THÊM CÁC STORY Ở ĐÂY NHA )-->
              <div id="story" class="top-boxs"></div>

              
              <!---->

              </div>
              
              <!--MỤC TẠO/ ĐĂNG BÀI VIẾT CỦA MÌNH-->
              <div class="create-post">
                <div class="create-slide">
                  <div class="ptop">
                    <img id="avarta">
                    <input type="text" placeholder="What's on your mine" id="noiDung">
                    <button type="button" onclick="createPost()" class="btn">></button>
                  </div>  
                    <hr>
                  <div class="pbottom">
  
                      <div class="post-icon">
                        <i class="fa-solid fa-video red"></i>
                        <p>Live</p>
                      </div>
  
                      <div class="post-icon" id="media-icon">
                        <i class="fa-solid fa-images green"></i>
                        <p>Media</p>
                      </div>
                      <input type="file" id="file-input">
                      
  
                      <div class="post-icon">
                        <i class="fa-solid fa-face-grin yellow"></i>
                        <p>Felling</p>
                      </div>
  
                  </div>
                </div>
              </div>

               <!--LOAD CÁC BÀI POST Ỏ ĐẤY-->
               <div id="post"></div>



              <!---->
            </div>
            <!--THANH SECTION BÊN PHẢI-->
           <div class="main-right">
              <!-- MỤC QUẢNG CÁO-->
              <div class="sponsored-section">
                <h2>Sponsored</h2>
                 <!-- LOAD CÁC QUẢN CÁO Ở ĐÂY-->
                <div class="sponsored-link">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5qWhtOFR6eJrs9DIiQSrccP1p00PmHctQRMv571SpPQ&s">
                  <p>Online Advertisement <br> 
                  <a href="https://accounts.binance.com/en/register?ref=874203683&gad_source=1&gclid=EAIaIQobChMI29zU5rCfhgMVxi17Bx2bvgFtEAAYASAAEgLrMfD_BwE">onlinead.com</a>
                  </p>
                </div>
                <div class="sponsored-link">
                  <img src="https://cdn.tgdd.vn/Files/2018/03/23/1076619/fifa-online-4-featured_800x450.jpg">
                  <p>Fifa Online 4 <br> 
                  <a href="https://fconline.garena.vn">onlinead.com</a>
                  </p>
                </div>       
              </div>
                <hr>
                  <!-- MỤC TÙY TRỌN TRANG
                <div class="page-selection">
                  <h2> Your pages and Profile</h2>                    
                  <div class="page-link">
                      <img src="/public/img/user_logo.jpg">         
                      <p> YOUR USERNAME</p>                     
                  </div>
                  <div class="page-link-items">
                    <img src="/public/img/changepage_icon.png" alt="">
                    <p>Switch Page</p>
                  </div>
                  <div class="page-link-items">
                    <img src="/public/img/promotion_icon.png" alt="">
                    <p>Create Promotion</p>
                  </div>                     
               </div> -->
                 <hr>
                 <!-- DANH SÁCH BẠN BÈ ĐANG ONLINE-->
                 <div class="contact-selection">

                   <!-- LOAD THÊM BẠN BÈ Ở ĐÂY-->
                  <div class="page-link">
                    <div class="online">
                      <img src="/public/img/noimg.png" alt="">
                    </div>
                    <p>Nguyễn Hồ Ngọc Huy</p>
                  </div>

                 </div>
      </div>
    </div>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"
  integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="../js/class.js"></script>
  <script src="../services/callApi.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>