<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/public/img/logo_fb.png" sizes="16x16"/>
    <title>Facebook</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/loginAdminHT.css" />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
    />
  </head>

  <body>
    <div class="main">
      <div class="d-flex justify-content-center">
        <div class="logo">
            <img src="/public/img/logo_fb.png"  width="100" alt="">
          </div>
          <div class="title">Facebook</div>
      </div>
      <form>
        <div class="credentials">
          <div class="username">
            <i class="fa-solid fa-user"></i>
            <input
              type="text"
              name="username"
              placeholder="Username"
              required=""
            />
          </div>
          <div class="password">
            <i class="fa-solid fa-lock"></i>
            <input
              type="password"
              name="password"
              placeholder="Password"
              required=""
            />
          </div>
        </div>
        <button class="submit">Login</button>
      </form>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>